#container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    "header header header"
    "section main aside"
    "footer footer footer";
  border: 1px solid black;
  row-gap: 10px;
  column-gap: 10px;
}
header {
  display: grid;
  grid-area: header;
  border: 1px solid black;
  text-align: center;
  background-color: #ffbc36;
}

section {
  gap: 5px;
  margin-top: 10px;
  display: grid;
  grid-area: section;
  border: 1px solid black;
  background-color: #ccffaa;
}

aside {
  gap: 5px;
  margin-top: 10px;
  display: grid;
  grid-area: aside;
  border: 1px solid black;
  background-color: #ffde66;
  align-content: space-evenly;
}
main {
  gap: 5px;
  margin-top: 10px;
  display: grid;
  grid-area: main;
  border: 1px solid black;
  background-color: #a3d5dd;
  grid-template-columns: 1fr 1fr;
}
main > article:nth-child(3n) {
  grid-column: 1 / -1;
}

footer {
  margin-top: 10px;
  display: grid;
  grid-area: footer;
  border: 1px solid black;
  text-align: center;
  background-color: #f9a951;
}

h2 {
  text-align: center;
}

article {
  border: 1px solid blue;
  margin: 5px;
  padding: 5px;
  display: grid;
}
